Write a Python program to download IMDB's Top 250 data (movie name, Initial release, director name and stars

In [1]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

movie_name=[]
release_date=[]
rating=[]
stars=[]
sample=[]
dir_name=[]
Date=[]


html = requests.get("https://www.imdb.com/chart/top/")
soup = BeautifulSoup(html.content,"lxml")

for container in soup.tbody.find_all("tr"):
    movie_name.append(container.find("td",{"class":"titleColumn"}).a.text)
    release_date.append(container.find("td",{"class":"titleColumn"}).span.text)
    rating.append(container.find("td",{"class":"ratingColumn imdbRating"}).strong.text)
    sample.append(container.find("td",{"class":"titleColumn"}).a["title"])

for strings in sample:
    lst = strings.split("(dir.),",2)
    dir_name.append(lst[0])
    stars.append(lst[1])

bad_chars=["(",")"]
for date in release_date:
    for i in bad_chars:
        date = date.replace(i,"")
    Date.append(date)
    

ibdb_data={
    "Movie Name":movie_name,
    "Director Name":dir_name,
    "Stars":stars,
    "Movie Rating":rating,
    "Release Date":Date
}

df = pd.DataFrame(data=ibdb_data)
df

,Movie Name,Director Name,Stars,Movie Rating,Release Date
0,The Shawshank Redemption,Frank Darabont,"Tim Robbins, Morgan Freeman",9.2,1994
1,The Godfather,Francis Ford Coppola,"Marlon Brando, Al Pacino",9.1,1972
2,The Godfather: Part II,Francis Ford Coppola,"Al Pacino, Robert De Niro",9.0,1974
3,The Dark Knight,Christopher Nolan,"Christian Bale, Heath Ledger",9.0,2008
4,12 Angry Men,Sidney Lumet,"Henry Fonda, Lee J. Cobb",8.9,1957
...,...,...,...,...,...
245,The Princess Bride,Rob Reiner,"Cary Elwes, Mandy Patinkin",8.0,1987
246,Sunrise: A Song of Two Humans,F.W. Murnau,"George O'Brien, Janet Gaynor",8.0,1927
247,Shin seiki Evangelion Gekijô-ban: Air/Magokoro...,Hideaki Anno,"Megumi Ogata, Megumi Hayashibara",8.0,1997
248,Drishyam,Jeethu Joseph,"Mohanlal, Meena",8.0,2013
249,"Paris, Texas",Wim Wenders,"Harry Dean Stanton, Nastassja Kinski",8.0,1984

In [3]:
df.to_excel("result.xlsx")